
 @import "bootstrap-sprockets";
 @import "bootstrap";


/* the height of navigation bar */
 .navbar-fixed-top {
  height: 80px;
 }

/* the navigation bar background color */
 .navbar {
  background-color: #000080;
 }

/* Font color of the menu */
.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: medium;
    letter-spacing: .5px;
}

.nav-list-item
{
  background-color: white;
  border-right: 1px solid white;
}

body {
  position: relative;
  background-color: white;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: black;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  margin: 25px;
  float: right;
}

.container_footer li {
  text-align: center;
  color: white;
}

input {
  display: block;
}

div.remember-me {
  border: 3px solid blue;
  width: 100px;
}


input#user_remember_me.boolean.optional {
  border: 3px solid red;
}

input#user_email.form-control.string.email.optional {
  padding-right: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  border-top-width: 2px;
  width: 194px;
}

input#user_password.form-control.password.optional {
  margin-left: 0px;
  width: 194px;
}

input.btn.btn-default {
  padding-right: 10px;
  padding-left: 10px;
  border-right-width: 1px;
  width: 120px;
  color: black;
  background-color: white;
  border: 2px solid #555555;
  transition-duration: 0.5s;
}

input.btn.btn-default:hover {
  background-color: #555555;
  color: white;
}

div.form-group.email {
  margin: 0px;
}

div.col-sm-8 {
  float: right;
  margin-right: 0px;
  width: 450px;
}

div.form-actions {
  height: 50px;
  width: 25%;
}

img.company.logo {
  width: 750px;
}

h1 {
  margin-top: 0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
